.vs/
obj/
ofMinimalProjectWithUI.VC.db
TimeDisplacement.VC.db
TimeDisplacement.VC.VC.opendb
bin/data/settings.xml
bin/FreeImage.dll
bin/TimeDisplacement_debug.exe
bin/TimeDisplacement_debug.exp
bin/TimeDisplacement_debug.ilk
bin/TimeDisplacement_debug.lib
bin/TimeDisplacement_debug.pdb
bin/Zlib.dll
bin/assimp.dll
bin/fmodex.dll
bin/fmodexL.dll
bin/freetype.dll
bin/glut32.dll
bin/libeay32.dll
bin/ssleay32.dll
